certifi
charset-normalizer
idna
imageio
lazy_loader
networkx
numpy
packaging
Pillow
PyWavelets
requests
scikit-image
scipy
tifffile
tqdm
urllib3
torch
torchvision
matplotlib
opencv-python
pytorch-msssim
torchviz
python-dotenv